@import url('https://fonts.googleapis.com/css?family=Sarabun:400,600');

$cor-preta: #333333;
$cor-preta-secundaria: #666666;
$cor-preta-destaque: #020202;
$cor-branca: white;
$cor-cinza: #cccccc;
$cor-azul: #6699cc;
$cor-verde: #4caf50;
$cor-hot: #990000;
$cor-hot-hover: #da0505;
$cor-cool: #ac63bb;
$cor-regular: #ffd700;
$cor-underground: #cccccc;

/** BREAKPOINTS */
// Smartphones
$mq-smartphones-portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 1024px)";

*{
    outline: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1, h2, h3, h4, p, span, li{
    font-family: 'Sarabun', sans-serif;
}

ul, li{
    margin: 0;
    padding: 0;
}
.app-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    // Sidebar component
    .sidebar-component{
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 100vh;
        padding:10px;
        background: $cor-preta;
        color: $cor-branca;
        @media #{$mq-smartphones-portrait-landscape} {
            display: none;
        }   
        .sidebar-header{
            display: flex;
            width: 100%;
            height: 50px;
            font-weight: bold;
            text-align: center;
            align-items: center;
            text-align: center;
            h1{
                text-align: center;
            }
        }
        nav.global-nav{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            ul{
                margin:0;
                padding: 0;
                list-style: none;
                li{
                  margin-bottom: 10px;
                  cursor: pointer;
                  padding: 4px;
                  &:hover{
                    background: $cor-preta-destaque;
                    a{
                      color: $cor-branca;
                    }
                  }
                  a{
                    cursor: pointer;
                    width: 100%;
                    color: $cor-cinza;
                    font-size: 1em;  
                    transition: all ease 0.4s;
                    text-decoration: none;
              
                    i{
                        width: 25px;
                    }

                  }
                }
            }
        }
        .user-menu{
            display: none;
        }
    }

    .main-box{
        display: flex;
        flex-direction: column;
        flex-shrink: initial;
        width: 75%;
        height: 100vh;
        background-image: linear-gradient(to left, $cor-preta , $cor-preta-secundaria);
        overflow-y: hidden;
        @media #{$mq-smartphones-portrait-landscape} {
            width: 100%;
        }   
        
        nav.search-selector{
            display: flex;
            width: 100%;
            justify-content: center;
            box-shadow: 2px 2px 6px $cor-preta;
            padding: 6px 10px;
            margin:auto;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    font-size: 1.2em;
                    color: $cor-branca;
                    width: 100px;
                    border-bottom: 2px solid $cor-branca;
                    text-align: center;
                    margin: 10px;
                    padding: 4px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all ease 0.3s;
                    &:hover{
                      color: $cor-verde;
                      border-bottom: 2px solid $cor-verde;
                    }
                }
                li.active{
                  color: $cor-verde;
                  border-bottom: 2px solid $cor-verde;
                }
            }
        }
        
        .search-component{
            display: flex;
            flex:none;
            width: 100%;
            height: 65px;
            background: $cor-preta;
            padding: auto 6px;
            @media #{$mq-smartphones-portrait-landscape} {
                margin: 10px auto;
                width: 95%;
            }                                      
            input{
                background: #000000;
                border: 0;
                width: 100%;
                padding: 8px 10px;
                color: $cor-cinza;
                font-size: 1.5em;
                &::placeholder{
                    color: #666;
                    @media #{$mq-smartphones-portrait-landscape} {
                        font-size: 0.8em;
                    }                                              
                }

            }
        }

        .album-list, .detail-items .album-list, .main-box__favorites .album-list, .artists-list{
            display: flex;
            width: 100%;
            height: 80vh;
            padding: 0px 20px;
            overflow: hidden;
            @media #{$mq-smartphones-portrait-landscape} {
                height: 80vh;
                overflow-y: auto;
            }
            ul{
                display: flex;
                width: 100%; 
                flex-wrap: wrap;
                overflow-y: auto;
                &::-webkit-scrollbar {
                  width: 6px;
                  background-color: $cor-preta-secundaria;
                } 
                &::-webkit-scrollbar-thumb {
                  background-color: $cor-preta-destaque;
                }                
                @media #{$mq-smartphones-portrait-landscape} {
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100vh;
                    overflow-y: auto;
                }                   
                li{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    height: 270px;
                    .remove-button{
                      display: none;
                      position: absolute;
                      cursor: pointer;
                      background: $cor-hot;
                      color: $cor-branca;
                      top:24px;
                      right: 0;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      width: 30px;
                      height: 30px;
                      transition: all ease 0.4s;
                      &:hover{
                        background: $cor-hot-hover;
                      }
                    }
                    &:hover{
                      .remove-button{
                        display: flex;
                      }
                    }
                    a{
                      width: 200px;
                      height: 230px;
                      margin: 10px;
                      justify-content: center;
                      text-decoration: none;
                      @media #{$mq-smartphones-portrait-landscape} {
                          width: 95%;
                          height: 380px;
                      }                       
                      .album-image{
                          display: flex;
                          position: relative;
                          width: 100%;
                          height: 200px;
                          box-shadow: 1px 1px 3px $cor-preta;
                          &:hover{
                            .handle-favorite-button{
                              display: flex;
                              flex-direction: column;
                              cursor: pointer;
                              color: $cor-verde;
                              font-size: 0.9em;
                              i{
                                font-size: 1.6em;
                                margin-bottom: 10px;
                              }
                            }
                          }
                          @media #{$mq-smartphones-portrait-landscape} {
                              width: 100%;
                              height: 350px;
                          }                          
                          
                          .handle-favorite-button{
                            display: none;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            width: 100%;
                            height: 200px;
                            top: 0;
                            padding: 0;
                            top: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.8);
                            z-index: 3000;
                            color: $cor-branca;
                            font-size: 6em;
                          }
                          img{
                            width: 100%;
                          }
                    }
                    }
                    .album-info{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        h2{
                            margin:0;
                            padding: 0;
                            color: $cor-branca;
                            font-size: 1em;
                            @media #{$mq-smartphones-portrait-landscape} {
                                font-size: 1.1em;
                            }                                 
                        }
                        span{
                            color: $cor-branca;
                            font-size: 0.8em;
                            @media #{$mq-smartphones-portrait-landscape} {
                                font-size: 1em;
                            }                               
                        }
                        span.rating{
                            font-size:0.8em;
                            @media #{$mq-smartphones-portrait-landscape} {
                                font-size: 1.2em;
                            }   
                        }
                        span.rating.hot{
                            color: $cor-hot;
                        }
                        span.rating.cool{
                            color: $cor-cool;
                        }
                        span.rating.regular{
                            color: $cor-regular;
                        }
                        span.rating.underground{
                            color: $cor-underground;
                        }
                        
                    }
                }
            }
        }
        // Ends Album list style

        .artists-list{
            ul{
                flex-direction: row !important;
                justify-content: flex-start;
                flex: auto;

                li{
                    width: 40%;
                    height: 120px;
                    flex-direction: row !important;
                    justify-content: flex-start;
                    margin: 0;
                    align-self: flex-start;
  
                    a{ // React Router Dom Link Fix
                      width: 100%;
                      height: 120px;
                      display: flex;
                      text-decoration: none;
                      .album-image{
                          width: 30%;
                          height: 115px;
                          border-radius: 50%;
                          box-shadow: none !important;
                          overflow: hidden;
                          background-size: cover;
                          background-position: center;
                          flex: none;
                      }
                      .album-info{
                          width: 250px;
                          padding-left: 10px;
                          justify-content: flex-start;
                          text-align: left;
                          h2{
                              margin-bottom: 4px;
                          }
                          span{
                              margin-bottom: 3px;
                          }
                          .genres{
                              color: $cor-cinza;
                          }
                      }
                    }
                }
            }
        }

        // Artist Detail Component
        .detail-box{
          display: flex;
          width: 100%;
          .detail-selected{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding:6px;
            width: 30%;
            height: 100vh;
            background: $cor-preta-destaque;
            .album-image{
              width: 200px;
              height: 200px;
              border-radius: 50%;
              background-position: center;
              background-size: cover;              
            }
            span{
              color: $cor-branca;
            }
            h2{
              color: $cor-branca;
              text-align: center;
              font-size: 1em;
              font-weight: normal;
              margin-top: 3px;
              margin-bottom: 0;
            }

            span.rating{
                font-size:0.8em;
                text-align: center;
                @media #{$mq-smartphones-portrait-landscape} {
                    font-size: 1.2em;
                }   
            }
            span.rating.hot{
                color: $cor-hot;
            }
            span.rating.cool{
                color: $cor-cool;
            }
            span.rating.regular{
                color: $cor-regular;
            }
            span.rating.underground{
                color: $cor-underground;
            }

          }

          .detail-items{
            display: flex;
            flex-direction: column;
            width: 100%;
            ul{
              li{
                margin: 5px;
              }
            }
          }
        }
    }
}

.main-box__favorites{
  width: 100% !important;
  .album-list, .artists-list{
    ul{
      li{
        margin: 8px;
        flex: none;
      }
    }
  }
}

.album-image__cover{
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.album-image__cover.artist-image{
  border-radius: 50%;
}

.track-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  h2{
    margin-top: 0;
    color: $cor-branca;
  }
  ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    li{
      display: flex;
      align-items: center;
      width: 100%;
      color: $cor-branca;
      font-weight: normal;
      span{
        margin-left: 10px;
      }
    }
  }
}

.track-list-fix{
  ul{
    li{
      width: 200px;
      height: 255px;
      position: relative;
      margin: 5px;

      &:hover{
        .handle-favorite-track-button{
          display: flex;
        }
      }

      .handle-favorite-track-button{
        display: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 200px;
        top: 0;
        padding: 0;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3000;
        color: $cor-branca;
        font-size: 1em;
        color: $cor-verde;
      }
    }
  }

}
